# Azure DevOps Pipeline for publishing to Visual Studio Marketplace
# Triggers on version tags (v*)
# Requires: MARKETPLACE_PAT variable (Personal Access Token with Marketplace Publish scope)

trigger:
  tags:
    include:
      - 'v*'

pr: none

pool:
  vmImage: 'ubuntu-latest'

stages:
- stage: Build
  displayName: 'Build Extension'
  jobs:
  - job: BuildJob
    displayName: 'Build and Package'
    steps:
    - task: NodeTool@0
      displayName: 'Use Node.js 20.x'
      inputs:
        versionSpec: '20.x'

    - script: npm ci
      displayName: 'Install dependencies'

    - script: npm run build
      displayName: 'Build TypeScript'

    - script: npm test
      displayName: 'Run tests'

    - script: npm run lint:no-fix
      displayName: 'Lint check'

    - script: npm run publish
      displayName: 'Create extension package (VSIX)'

    - task: CopyFiles@2
      displayName: 'Copy VSIX to staging'
      inputs:
        Contents: '*.vsix'
        TargetFolder: '$(Build.ArtifactStagingDirectory)'

    - task: PublishBuildArtifacts@1
      displayName: 'Publish VSIX artifact'
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'vsix'

- stage: Publish
  displayName: 'Publish to Marketplace'
  dependsOn: Build
  condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/tags/v'))
  jobs:
  - job: PublishJob
    displayName: 'Publish Extension'
    steps:
    - task: DownloadBuildArtifacts@1
      displayName: 'Download VSIX artifact'
      inputs:
        buildType: 'current'
        downloadType: 'single'
        artifactName: 'vsix'
        downloadPath: '$(System.ArtifactsDirectory)'

    - task: NodeTool@0
      displayName: 'Use Node.js 20.x'
      inputs:
        versionSpec: '20.x'

    - script: npm install -g tfx-cli
      displayName: 'Install tfx-cli'

    - script: |
        VSIX_FILE=$(find $(System.ArtifactsDirectory)/vsix -name "*.vsix" | head -1)
        echo "Publishing: $VSIX_FILE"
        tfx extension publish --vsix "$VSIX_FILE" --token $(MARKETPLACE_PAT) --no-prompt
      displayName: 'Publish to VS Marketplace'
      env:
        MARKETPLACE_PAT: $(MARKETPLACE_PAT)
