name: Extension CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js 20.x
      uses: actions/setup-node@v4
      with:
        node-version: 20
    - run: npm ci
    - run: npm run build --if-present
    - run: rm -rf node_modules
    - run: npm ci --omit=dev
    - run: npm run publish
    - uses: actions/upload-artifact@v4
      with:
        name: extension
        path: '*.vsix'

